/*
 * Ingresa el CSS del proyecto en este archivo
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Establece la fuente de Google aquí */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family:'Metamorphous', cursive;
}

img {
  vertical-align: middle;
}

a {
  color: #373B47;
  text-decoration: none;
}

a hover {
  color: #E95853;
}



header {
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
}

#home {
  background-image: url(../assets/images/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 554px;
  text-align: center;
  margin-top: 80px;
}

#home .container {
  color: white;
  padding: 70px;
}

.text-home {
  font-size: 53px;
}

.btn-home {
  background: #2Ecc71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: : 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}

.box-services{
  cursor:pinter;
}

.box-services:hover{
  background-color: rgb(255, 255, 255, 0.2);
}

#box-services-modal{
  background-color: rgba(240,30,80,0.85);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#box-services-modal .modal-body{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 100px;
}

#box-services-modal .modal-body h5,
#box-services-modal .modal-body h6{
  color: whitesmoke;
}
#box-services-modal .modal-body h5{
  font-size: 2em;
}
#box-services-modal .modal-body h6{
  font-size: 1em;
}

#box-services-modal .close{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#box-services-modal .close img{
  width: 60px;
}

.hide{
  display: none;
}

#productos {

  text-align: center;
  padding: 70px;
}

.text-productos{
  font-size: 40px;
}

.container3{
  max-width: 1200px;
  padding: 20px;

}

.row:before, .row:after{
  content: "";
  display: table;
}

.row:after{
  clear: both;
}

[class*="col-"]{
  padding: 12px;
  float: left;
  min-height: 7px;
}

.col-1{
  width: 8.333333%;
}

.col-2{
  width: 16.666667%;
}

.col-3{
  width: 25%;
}

.col-4{
  width: 33.333333%
}

.col-5{
  width: 41.666667%;
}

.col-6{
  width: 50%;
}

.col-7{
  width: 58.333333%;
}

.col-8{
  width: 66.666667%;
}

.col-9{
  width: 75%;
}

footer {
  text-align: center;
  height: 70px;
  background-color: #373b47;
  color: white;
  padding-top: 7px; 
}
